<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Home Page</title>
</head>

<body>
	<h2 class="text-primary container">Welcome to the Java Development course</h2>
	<hr>
	<p class="container">
		User : <span sec:authentication="principal.username" />
		Role(s) : <span sec:authentication="principal.authorities" />
	</p>
	<hr>
	<p class="container">Welcome to the Spring Security course</p>

	<hr>
	<div class="container">
		<div sec:authorize="hasRole('Manager')">
			<a th:href="@{/leaders}">Leaders Meeting</a>
		</div>
		<div sec:authorize="hasRole('Admin')">
			<a th:href="@{/systems}">Admin Systems</a>
		</div>
	</div>
	<hr>

	<form action="#" th:action="@{/logout}" th:method="POST">
		<div class="container">
			<button type="submit" class="btn btn-danger btn-sm col-2">Logout</button>
		</div>
	</form>
	<hr>
</body>


</html>