<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<title>Customer - Form</title>
	<style>
		.error {
			color: red;
		}
	</style>
</head>

<body>
	<i>Fill out the form. Asterisk (*) means required</i>
	<br><br>

	<form th:action="@{/processForm}" th:object="${customer}" th:method="POST">

		First Name : <input type="text" th:field="*{firstName}" />
		<br><br>

		Last Name (*) : <input type="text" th:field="*{lastName}" />

		<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="error" />
		<br><br>

		Free Passes : <input type="text" th:field="*{freePasses}" />

		<span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" th:class="error" />
		<br><br>
		
		Postal Code : <input type="text" th:field="*{postalCode}" />

		<span th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" th:class="error" />
		<br><br>
		
		Course Code : <input type="text" th:field="*{courseCode}" />

		<span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" th:class="error" />
		<br><br>

		<input type="submit" value="Submit" />
		
		

	</form>

</body>

</html>